@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background-color: #f4f6fa;
  --primary-text-color: #313e51;

  --background-image: url("../assets/images/pattern-background-desktop-light.svg");

  /* Font Family and sizes */
  --font-family-main: "Rubik", serif;
  --font-size-display: 9rem;
  --font-size-heading-L: 4rem;
  --font-size-heading-M: 2.25rem;
  --font-size-heading-S: 2.25rem;
  --font-size-body: 0.75rem;
}

[data-theme="dark"] {
  --background-color: #313e51;
  --primary-text-color: #fff;

  --background-image: url("../assets/images/pattern-background-desktop-dark.svg");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.App {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--primary-text-color);
}
