@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* Primary Color */
  --navy: #3b4d66;
  --grey-navy: #626c7f;
  --white: #fff;

  /* Secondary Color */
  --light-bluish: #abc1e1;
  --correct-green: #26d782;
  --error-red: #ee5454;

  /* Font Family and sizes */
  --font-family-main: "Rubik", serif;
  --font-size-display: 9rem;
  --font-size-heading-L: 4rem;
  --font-size-heading-M: 2.25rem;
  --font-size-heading-S: 2.25rem;
  --font-size-body: 0.75rem;
}

[data-theme="light"] {
  /* light grey */
  --bg-color: #f4f6fa;
  /* dark navy */
  --text-color: #313e51;
}

[data-theme="dark"] {
  /* dark navy */
  --bg-color: #313e51;
  /* pure white */
  --text-color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  background-image: url("../assets/images/pattern-background-desktop-light.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: var(--text-color);
}

#root {
  border: 2px solid red;
  max-width: 1160px;
  margin: 83px auto 0;
}
