.quiz-container {
  align-items: start;
  gap: 131px;
}

.question-container {
  flex: 1;
}

.question {
  margin-top: 27px;
  font-size: var(--font-size-heading-M);
  font-weight: 500;
  line-height: 120%;
}

.answers {
  flex: 1;
}

.answer-letters {
  padding: 16px 18px 12px;
  border-radius: 6px;
  background-color: var(--light-grey);
  color: var(--grey-navy);
}

.answer-letter-color {
  background-color: var(--light-grey);
  color: var(--grey-navy);
}

button:hover .answer-letter-color {
  background-color: var(--light-pink);
  color: var(--purple);
}

.selected-letter {
  background-color: var(--purple);
  color: var(--pure-white);
}

button.submit-btn {
  background-color: var(--purple);
  color: var(--pure-white);
  margin-top: 8px;
}

button.submit-btn:hover {
  background-color: var(--light-purple);
}

.selected {
  border: 3px solid var(--purple);
}

.incorrect {
  border: 3px solid var(--red);
}

.incorrect-letter {
  background-color: var(--red);
}
