.start-menu-container {
  flex-direction: column;
  align-items: start;
}

.welcome-msg {
  margin-bottom: 40px;
  transition: margin-bottom 0.3s ease-in-out;
}

.btn-container {
  flex-direction: column;
  gap: 12px;
  width: 100%;
  transition: gap 0.3s ease-in-out;
}

.start-menu-title {
  margin-bottom: 8px;
}

.bold {
  font-weight: 500;
  margin-bottom: 16px;
  transition: margin-bottom 0.3s ease-in-out;
}

.pick-msg {
  font-size: var(--body-s);
  line-height: 150%;
  font-style: italic;
  color: var(--pick-msg-color);
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

/* Icon colors */
.html-icon {
  background-color: var(--html-bg-color);
}

.css-icon {
  background-color: var(--css-bg-color);
}

.javascript-icon {
  background-color: var(--js-bg-color);
}

.accessibility-icon {
  background-color: var(--accessibility-bg-color);
}

/* Larger Phones / Small Tablets */
@media (min-width: 480px) {
  .welcome-msg {
    margin-bottom: 52px;
  }

  .btn-container {
    gap: 18px;
  }
}

/* Tablets (768px+ */
@media (min-width: 768px) {
  .welcome-msg {
    margin-bottom: 64px;
  }

  .btn-container {
    gap: 24px;
  }
}

/* Midpoint - Large Tablets & Small Laptops (1024px+) */
@media (min-width: 1024px) {
  .bold {
    margin-bottom: 32px;
  }
}

/* Desktops */
@media (min-width: 1110px) {
  .start-menu-container {
    flex-direction: row;
  }

  .welcome-msg {
    flex: 1;
  }

  .btn-container {
    flex: 1;
  }

  .bold {
    margin-bottom: 48px;
  }
}
